body{
	background-color: orange;
	text-align: center;
	/* height: 100px;  */
}

.food-c-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
}

.food-c-div__logo img{
    width: 6vw;
    height: 6vw;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

.food-c-div__header{
    color: blue;
	font-size: 6vw;
    grid-column: 2/4;
    grid-row: 1;
}

.food-c-div__recetas{
    color: white;
    text-align: center;
	font-size: 4vw;
    grid-column: 2/4;
    grid-row: 2;
}

.food-c-div__alimento1{
    color: black;
    font-size: 1.5vw;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}

.food-c-div__alimento1 img{
    width: 28vw;
    height: 40vh;
}


.food-c-div__alimento2{
    color: black;
    font-size: 1.5vw;
    text-align: center;
    grid-column: 3;
    grid-row: 3;
}

.food-c-div__alimento2 img{
    width: 28vw;
    height: 40vh;
}

.food-c-div__alimento3{
    color: black;
    font-size: 1.5vw;
    text-align: center;
    grid-column: 2;
    grid-row: 4;
}

.food-c-div__alimento3 img{
    width: 28vw;
    height: 40vh;
}

.food-c-div__alimento4{
    color: black;
    font-size: 1.5vw;
    text-align: center;
    grid-column: 3;
    grid-row: 4;
}

.food-c-div__alimento4 img{
    width: 28vw;
    height: 40vh;
}

.food-c-div-bodyIzquierdo{
    grid-column: 1 ;
    grid-row: 3/5;
	/* background-color: orange;
    order: 1;
    padding: 16px;
    width: 400px;
    height: 400px;
	margin: 16px;
	position: relative;
	bottom: 450px; */
}

.food-c-div-bodyIzquierdo img{
    width: 20vw;
    height: 80vh;
}

.food-c-div-bodyDerecho{
    grid-column: 4;
    grid-row: 3/5;
    width: 100%;
    height: 100%;
	/* background-color: orange;
    order: 3;
    padding: 16px;
    width: 380px;
    height: 400px;
	margin: 16px;
	position: relative;
	left: 900px;
	bottom: 900px; */
}
.food-c-div-bodyDerecho img{
    width: 20vw;
    height: 80vh;
}

.food-c-div-foot{
    color: white;
    font-size: 1.2vw;
    background-color: red; 
	padding: 20px;
	margin: 20px;
	/* position: relative;
    bottom: 900px; */
    grid-column: 1/5;
    grid-row: 5;
}